<div class="field-center">
<h2 class = "heading">Sign up</h2><br>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <%= f.text_field :username, autofocus: true, placeholder: "Username", id: "sizing-addon1", class: "form-control"  %>
  <br>
    <%= f.email_field :email, placeholder: "Email", class: "form-control"%>
  <br>
    <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "form-control" %>
  <br>
    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm your password", class: "form-control" %>
  <br>
  <div class = "button-center">
    <%= f.submit "Sign up", class: "btn btn-primary btn-lg" %>
  </div>
<% end %>
</div>
